section.section_annonces > div {
  display: flex;
  flex-wrap: wrap;
	margin: 0px 20%;
}

article.annonce {
  position: relative;
  border: solid 2px var(--accent-color-vert);
  border-radius: 15px;
  margin: 15px;
  padding: 15px;
  padding-bottom: 100px;
  flex: 1 0 40%;
}

article.annonce > header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

img.pp {
  width: 40px;
  margin-right: 20px;
}

img.certif {
  position: absolute;
  width: 20px;
  top: 0px;
  right: 0px;
}

article.annonce > header > div {
  position: relative;
}

article.annonce h2 {
  text-decoration: underline;
}

article.annonce > form button:not(.boutonType) {
  margin: 0;
  position: absolute;
  left: 50%;
  bottom: 1.5em;
  transform: translate(-50%, -50%);
}

article.annonce > form button.boutonType {
	position: absolute;
	top: 0;
	right: 0;
	background-color: var(--accent-color-vert);
  border: solid 2px var(--accent-color-vert);
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 2px;
	margin: 0;
	color: white;
	font-weight: 600;
  font-size: 1em;
	transition: 0.25s;
}
article.annonce > form button.boutonType:hover {
  font-size: 1.1em;
}

article.annonce > form:last-child button {
  position: absolute;
  bottom: -15px;
  font-size: 1.1em;
  width: 100%;
  left: 50%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--accent-color-vert);
  border: solid 2px var(--accent-color-vert);
  color: white;
	transition: 0.25s;
	font-weight: 600;
}

article.annonce > form:last-child button:hover {
	font-size: 1.2em;
}


section.section_annonces > form {
	margin: 20px 0px;
	position: relative;
	height: 1em;
}

section.section_annonces > form > button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px){
  section.section_annonces > div {
    margin: 0px 0%;
  }
}
