textarea {
  resize: vertical;
  width: 95%;
  margin: auto;
}

body > section > footer form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > section > footer form {
  display: flex;
  flex-direction: column;
}

body > section > footer form button {
  margin-top: 20px !important;
  width: 100px;
}

.section_messages {
  margin: auto;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.section_messages p {
  border-radius: 5px;
  margin: 8px;
  padding: 8px;
}

.section_messages .recu {
  align-self: flex-start;
  background-color: #963CBA;
  color: #f5f5f5;
}

.section_messages .envoye {
  align-self: flex-end;
  background-color: #9E9E9E;
}
