form.creation_annonce {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

form.creation_annonce div {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 25px auto;
}

form.creation_annonce div > label {
  background-color: #DDDDDD;
  padding: 7px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

form.creation_annonce div > input,textarea {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 3em;
}

form.creation_annonce textarea {
  height: 10em;
  font-size: 1.1em;
  resize: vertical;
}

form select {
  height: 3em;
}

form fieldset {
  margin: 0px;
}

form.creation_annonce > section:nth-child(2) {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

form.creation_annonce > section:nth-child(2) > div {
  width: 45%;
}

/* ==== Modif annonce ====*/
form div.confirmation {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

form div.confirmation * {
  width: 200px;
}
