body > section > form {
  width: 55%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px auto;
}

body > section > form input {
  flex-grow: 1;
}
body > section > form * {
  font-size: 1em;
  /* border: 2px solid var(--accent-color-violet);
  border-radius: 10px; */
}
