body > section form {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 25%;
}

body > section form div {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.notice {
  font-style: italic;
}
